@font-face {
    font-family: 'Nohemi';
    src: url('fonts/Nohemi-VF.ttf') format('truetype');
}

*  {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color:#f4f4f4
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(45deg, #7017A4 0%, #144E75 100%);
    background-size:cover;
    background-attachment: fixed;
}

main{
    margin-left: 20px;
    margin-right: 20px;

}

h1{
    margin: auto;
}



.navbar{
    position: relative;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.88);
}

.navbar h1{
    float: left;
    margin: 20px 20px;
    color:white;
    font-family: Nohemi;
    animation: slideRight 1s ease-in-out forwards;
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-right: 3%;
    overflow: hidden;
    float:right;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    margin-top: 10px;
    font-family: Nohemi;
}

.navbar a:hover{
    color:rgb(114, 102, 251);
    text-shadow: 0px 0px 15px rgba(115,102,251,0.55);
}
.navbar a.active{
    color:rgb(114, 102, 251);
}

.navbar li{
    float: left;
    margin: 0px;
    padding: 0px;
    animation: slideLeft 1s ease-in-out forwards;
    opacity: 0;
}

.navbar li:nth-child(1) {
    animation-delay: 0s;
}

.navbar li:nth-child(2) {
    animation-delay: 0.4s;
}

.navbar li:nth-child(3) {
    animation-delay: 0.8s;
}

.navbar li:nth-child(4) {
    animation-delay: 1.2s;
}

.navbar li:nth-child(5) {
    animation-delay: 1.6s;
}


#profile{
    margin: 20%;
    margin-top: 10%;
    margin-right: 15px;
    height:350px;
    box-shadow: 0px 0px 15px 6px rgba(255,255,255,0.88); 
    border-radius: 60%;
    background-color: white;
    animation: slideRight 1200ms ease-in-out;
}

.text{
    margin-left: 15px;

}

.text h1{
    font-size: 70px;;
    font-family: Nohemi;
    letter-spacing: 3px;
    animation: slideLeft 1200ms ease-in-out;
}

.text h2{
    font-size:24px;
    margin-bottom: 0px;
    font-family: Nohemi;
    letter-spacing: 2px;
    animation: slideLeft 1100ms ease-in-out;
}

.social {
    font-size: 13px;
    margin: 0px;
    margin-top: 15px;
    animation: slideUp 1s ease-out;
}

.social i {
    border: 2px solid #fff;
    margin-right: 10px; 
    border-radius: 50%;
    text-decoration: none;
    width: 45px;
    height: 45px; 
    display: flex;
    float:left;
    justify-content: center;
    align-items: center;
}

.social i:hover {
    color: black;
    background-color: #f4f4f4;
    box-shadow: 0px 0px 50px 2px rgba(255,255,255,0.9);
}

.parent-container {
    display: flex;
    align-items: center;
}

.text-social-container {
    display: flex;
    flex-direction: column;
    align-items:baseline;
}

.about{
    height: 100vh;
    width: 100vh;
    padding: 10px;
    animation: slideUp 1s ease-out;
}

@keyframes slideLeft {
    from {
        transform: translateX(150%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(500%);
    }
    to {
        transform: translateY(0);
    }
    
}

@keyframes slideRight {
    from {
        transform: translateX(-150%);
    }
    to {
        transform: translateX(0);
    }
}