@font-face {
    font-family: 'Nohemi';
    src: url('fonts/Nohemi-VF.ttf') format('truetype');
}

*  {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color:#f4f4f4
}

html {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    /*background: linear-gradient(45deg, #7017A4 0%, #144E75 100%);*/
    background-color: black;
    background-size:cover;
    background-attachment: fixed;
}

h1{
    margin: auto;
}

nav {
    height: 60px;
    /*background: linear-gradient(45deg, #7017A4 0%, #144E75 100%);*/
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
}

.slides{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /*background: linear-gradient(45deg, #7017A4 0%, #144E75 100%);*/
    background-size:cover;
    background-attachment: fixed;
    scroll-snap-align: start;

}

.navbar{
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.88);
}

.navbar h1{
    float: left;
    margin: 20px 20px;
    color:white;
    font-family: Nohemi;
    animation: slideRight 1s ease-in-out forwards;
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-right: 3%;
    overflow: hidden;
    float:right;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    margin-top: 10px;
    font-family: Nohemi;
}

.navbar a:hover{
    color:rgb(114, 102, 251);
    text-shadow: 0px 0px 15px rgba(115,102,251,0.55);
}
.navbar a.active{
    color:rgb(114, 102, 251);
}

.navbar li{
    float: left;
    margin: 0px;
    padding: 0px;
    animation: slideLeft 1s ease-in-out forwards;
    opacity: 0;
}

.navbar li:nth-child(1) {
    animation-delay: 0s;
}

.navbar li:nth-child(2) {
    animation-delay: 0.4s;
}

.navbar li:nth-child(3) {
    animation-delay: 0.8s;
}

.navbar li:nth-child(4) {
    animation-delay: 1.2s;
}

.navbar li:nth-child(5) {
    animation-delay: 1.6s;
}

#blob{
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left:50%;
    top: 50%;
    translate:-50% -50%;
    border-radius: 50%;
    background: linear-gradient(45deg, #7017A4 0%, #144E75 100%);
    animation: rotate 20s  infinite;
    z-index: -2;
}

#blur {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    backdrop-filter: blur(200px);
}


#profile{
    height:600px;
    box-shadow: 0px 0px 15px 6px rgba(255,255,255,0.88); 
    border-radius: 60%;
    background-color: white;
    animation: slideRight 1200ms ease-in-out;
}

.name{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#first{
    flex: 1 1 200px;
}

#second{
    flex: 1 1 200px;
}

.text h1{
    font-size: 100px;;
    font-family: Nohemi;
    letter-spacing: 3px;
    animation: slideLeft 1200ms ease-in-out;
}

.text h2{
    font-size:35px;
    margin-bottom: 0px;
    font-family: Nohemi;
    letter-spacing: 2px;
    animation: slideLeft 1100ms ease-in-out;
}

.social {
    font-size: 20px;
    margin: 0px;
    margin-top: 15px;
    animation: slideUp 1s ease-out;
}

.social i {
    border: 2px solid #fff;
    margin-right: 10px; 
    border-radius: 50%;
    text-decoration: none;
    width: 60px;
    height: 60px; 
    display: flex;
    float:left;
    justify-content: center;
    align-items: center;
}

.social i:hover {
    color: black;
    background-color: #f4f4f4;
    box-shadow: 0px 0px 50px 2px rgba(255,255,255,0.9);
}

.parent-container {
    display: flex;
    align-items: center;
    gap: 100px;
}

.text-social-container {
    display: flex;
    flex-direction: column;
    align-items:baseline;
}

@keyframes slideLeft {
    from {
        transform: translateX(150%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(500%);
    }
    to {
        transform: translateY(0);
    }
    
}

@keyframes slideRight {
    from {
        transform: translateX(-150%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    50% {
        scale: 1 1.5;
    }

    to {
        transform: rotate(360deg);
    }
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 24px;
    }

    #blob {
        height: 20vmax;
    }

    .navbar h1 {
        font-size: 20px;
    }

    .navbar ul {
        float: none;
        text-align: center;
    }

    .navbar li {
        float: none;
        display: inline;
    }

    .navbar a {
        display: inline;
        padding: 10px;
    }

    #profile {
        height: 400px;
        width: 400px;
        margin-top: 20px;
        margin-bottom: -70px;
    }

    .text h1 {
        font-size: 60px;
        margin-bottom: -10px;
    }

    .text h2 {
        font-size: 25px;
    }

    .social {
        font-size: 14px;
    }

    .social i {
        width: 45px;
        height: 45px;
    }

    .parent-container {
        flex-direction: column;
    }

    .text-social-container {
        align-items: center;
    }

    .text {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
}


@font-face {
    font-family: 'Nohemi';
    src: url('fonts/Nohemi-VF.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    color:white;
}
.skill-tree {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: Nohemi, Arial, sans-serif;;
}

line {
    stroke: rgb(255,255,255);
}

.skill {
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin: 10px;
    position: absolute;
    width: 80px; 
    height: 80px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
    position: absolute;
    transform: scale(1);
}

#skill-1 {
    font-size: 24px;
}

.skill[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 100%;
    margin-left: 10px;
    display: block;
    background-color: #6f6e6e;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
}

.skill[data-tooltip="C"]:hover::after,
.skill[data-tooltip="SwiftUI"]:hover::after {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: 10px;
}


.skill[data-tooltip="C"]:hover::after {
white-space: normal;
width: 30px;
}

.skill:nth-child(2) { transform: rotate(0deg) translate(400px) rotate(0deg); } 
.skill:nth-child(3) { transform: rotate(72deg) translate(300px) rotate(-72deg); } 
.skill:nth-child(4) { transform: rotate(144deg) translate(400px) rotate(-144deg); } 
.skill:nth-child(5) { transform: rotate(216deg) translate(300px) rotate(-216deg); } 
.skill:nth-child(6) { transform: rotate(288deg) translate(200px) rotate(-288deg); } 
.skill:nth-child(7) { transform: rotate(690deg) translate(600px) rotate(-690deg); } 

.skill:nth-child(2):hover { transform: rotate(0deg) translate(400px) rotate(0deg) scale(1.2); } 
.skill:nth-child(3):hover { transform: rotate(72deg) translate(300px) rotate(-72deg) scale(1.2); } 
.skill:nth-child(4):hover { transform: rotate(144deg) translate(400px) rotate(-144deg) scale(1.2); } 
.skill:nth-child(5):hover { transform: rotate(216deg) translate(300px) rotate(-216deg) scale(1.2); } 
.skill:nth-child(6):hover { transform: rotate(288deg) translate(200px) rotate(-288deg) scale(1.2); } 
.skill:nth-child(7):hover { transform: rotate(690deg) translate(600px) rotate(-690deg) scale(1.2); } 

.skill:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.skill:first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#skill-tree-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

#skill-tree {
    position: relative;
    width: 100%; 
    max-width: 600px; 
}



@media (max-width: 600px) {
    .skill-tree {
        height: auto;
        padding: 100px 0; 
    }

    .skill {
        width: 50px;
        height: 50px;
        font-size: 12px;
    }

    .skill:nth-child(2) { transform: rotate(0deg) translate(200px) rotate(0deg); }
    .skill:nth-child(3) { transform: rotate(72deg) translate(150px) rotate(-72deg); }
    .skill:nth-child(4) { transform: rotate(144deg) translate(200px) rotate(-144deg); }
    .skill:nth-child(5) { transform: rotate(216deg) translate(150px) rotate(-216deg); }
    .skill:nth-child(6) { transform: rotate(288deg) translate(100px) rotate(-288deg); }
    .skill:nth-child(7) { transform: rotate(700deg) translate(250px) rotate(-700deg); }
    .skill:nth-child(8) { transform: rotate(432deg) translate(300px) rotate(-432deg); }

    .skill:nth-child(2):hover { transform: rotate(0deg) translate(200px) rotate(0deg) scale(1.2); }
    .skill:nth-child(3):hover { transform: rotate(72deg) translate(150px) rotate(-72deg) scale(1.2); }
    .skill:nth-child(4):hover { transform: rotate(144deg) translate(200px) rotate(-144deg) scale(1.2); }
    .skill:nth-child(5):hover { transform: rotate(216deg) translate(150px) rotate(-216deg) scale(1.2); }
    .skill:nth-child(6):hover { transform: rotate(288deg) translate(100px) rotate(-288deg) scale(1.2); }
    .skill:nth-child(7):hover { transform: rotate(700deg) translate(250px) rotate(-700deg) scale(1.2); }
    .skill:nth-child(8):hover { transform: rotate(432deg) translate(300px) rotate(-432deg) scale(1.2); }
}

.skill[data-tooltip="C"]:hover::after {
    top: auto;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}


.skill[data-tooltip="JavaScript"]:hover::after,
.skill[data-tooltip="Python"]:hover::after {
    top: 50%;
    bottom: auto;
    right: auto;
    left: 100%;
    transform: translateY(-50%);
    margin-left: 10px;
}

.skill[data-tooltip="CSS"]:hover::after {
    top: auto;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;

    .skill[data-tooltip="SwiftUI"]:hover::after{
        top: 50%;
        bottom: auto;
        left: auto;
        right: 100%;
        transform: translateY(-50%);
        margin-right: 10px;
}

.skill[data-tooltip="HTML"]:hover::after {
    bottom: auto;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}
.skill[data-tooltip="C"]:hover::after,
.skill[data-tooltip="SwiftUI"]:hover::after {
white-space: normal;
width: 70px; 
}